html, header, body, footer {
    margin:0;
    padding:0;
    font-family: 'Raleway';
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*DEBUT HEADER*/

header {
    width:100vw;
    height:100px;
    display: flex;
    flex-direction: row;
}

#logo {
    height:auto;
    width:auto;
    margin:20px;
    object-fit: contain;
}

#nav {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

#nav a {
   height:100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:0 2vw 0 2vw;
   font-size: 1.3em;
}

.menu-link, #inscription {
    text-decoration: none;
    color:black;
}
.menu-link:hover, #inscription:hover {
    color:#0065FC;
}

#inscription {
    color:#0065FC;
    margin-right:5vw;
    font-weight: bold;
}

.menu-link:hover {
    border-top: solid #0065FC;
}

/*FIN HEADER*/

/*DEBUT BODY*/

.corps {
    margin: 0 6vw 0 6vw;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    color:rgb(48, 48, 48);
    font-size: 1.1em;
    font-weight: normal;
    margin-top:-10px;
}

#recherche {
    display: flex;
    flex-direction: row;
    align-items: center;   
}

#pos {
    background-color: rgb(243, 243, 243);
    width:60px;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#icone-pos {
    width:25%;
    height:auto;
}

#site-search {
    height:58px;
    border-right-style: none;
    border-left-style: none;
    width:13vw; 
    min-width: 200px;
    border:1px solid rgb(243, 243, 243);
    font-size:1.1em;
    padding-left:15px;
    font-weight:bold;
}

#btn-rechercher {
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width:8vw;
    min-width: 150px;
    height:inherit;
    color:white;
    font-size:1.4em;
    height:60px;
    padding:15px;
    border:none;
}

#btn-rechercher:hover{
    background-color: #3d8afd;
    cursor:  pointer;
}